div{
  height:300px;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: center;
  align-content: center;
}
div h1, h3{
  text-shadow: black 4px 2px 1px;
  text-transform: uppercase;
  padding: 1%;
  font-size: 4rem;
}
